@tailwind base;
@tailwind components;
@tailwind utilities;

.collegeCard:hover .CollegeRating {
  top: 12px;
}
.collegeCard:hover .collegeImg {
  transform: scale(1.2);
}

.galleryContainer:hover .galleryDetails {
  top: 0;
}
